.toc-entry {
  color: rgb(0,0,0.87);
  display: block;
  cursor: pointer;
  padding: 7px 3px;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

.toc-entry:first-child {
  border-top: 1px dotted #ccc;
}

.toc-entry:hover {
  color: rgb(0,0,0.87);
  background-color: #f8f8f8;
}

.toc-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}

.toc-meta {
  font-size: 12px;
  color: rgb(0,0,0,0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}