@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html {
  width: 100vw;
  flex-direction: column;
}

body {
  font-family: "EB Garamond", serif;
  line-height: 1.2;
  text-align: justify;
  hyphens: none;
  color: rgb(0,0,0,0.87);
  width: 650px;
  margin: 0 auto;
  flex-direction: column;
  padding: 1em 0;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  margin-bottom: 31px;
  font-weight: bold;
  text-align: center;
  hyphens: auto;
}

h2 {
  border-bottom: 1px solid rgb(0,0,0,0.38);
  hyphens: auto;
}

h3 {
  hyphens: auto;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th {
  border: 1px solid #ccc;
  padding: 0.4em 0.6em;
  text-align: left;
  vertical-align: top;
  background-color: #f9f9f9;
}

td {
  border: 1px solid #ccc;
  padding: 0.4em 0.6em;
  text-align: left;
  vertical-align: top;
}

a {
  color: #2c5aa0;
  text-decoration: underline;
}

a:hover {
  color: #1a4480;
}

.article-top-navigation a, 
.article-bottom-navigation a {
  color: #2c5aa0;
  text-decoration: none;
}

figure img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

figcaption {
  font-style: italic;
  text-align: center;
}

#main-page {
  width: 100%;
  margin-top: 2em;
  padding: 0;
  box-sizing: border-box;
}

#main-footer {
  text-align: center;
  font-size: 12px;
  margin-top: 31px;
  margin-bottom: 1em;
}

.toc-entry {
  color: rgb(0,0,0.87);
  display: block;
  cursor: pointer;
  padding: 7px 3px;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

.toc-entry:first-child {
  border-top: 1px dotted #ccc;
}

.toc-entry:hover {
  color: rgb(0,0,0.87);
  background-color: #f8f8f8;
}

.toc-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}

.toc-meta {
  font-size: 12px;
  color: rgb(0,0,0,0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #2c5aa0;
  text-decoration: underline;
}

a:hover {
  color: #1a4480;
}

@media (max-width: 1366px) {
  body {
    width: 700px;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
    padding: 1em 0.5em;
  }
}