@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html {
  flex-direction: column;
}

body {
  font-family: "EB Garamond", serif;
  line-height: 1.2;
  text-align: justify;
  hyphens: none;
  color: rgb(0,0,0,0.87);
  width: 650px;
  margin: 0 auto;
  flex-direction: column;
  padding: 1em 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  text-align: center;
  hyphens: auto;
}

h2 {
  border-bottom: 1px solid rgb(0,0,0,0.38);
  hyphens: auto;
}

h3 {
  hyphens: auto;
}

.table-component {
  margin: 1em 0;
  max-width: 100%;
}

.table-scroll-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th {
  border: 1px solid #ccc;
  padding: 0.4em 0.6em;
  text-align: left;
  vertical-align: top;
  background-color: white;
  font-weight: normal;
}

td {
  border: 1px solid #ccc;
  padding: 0.4em 0.6em;
  text-align: left;
  vertical-align: top;
}

a {
  color: #2c5aa0;
  text-decoration: underline;
}

a:hover {
  color: #1a4480;
}

figure {
  margin: 0;
  padding: 0;
}

figure img {
  width: 100%;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

figcaption {
  font-style: italic;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 1.5em;
}

@media (max-width: 1366px) {
  body {
    width: 700px;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
    padding: 1em 0.5em;
  }
}